# que ignore todos los .DS_Store
.DS_Store
*/.DS_Store
**/.DS_Store

# que ignore todos los .out
.out
*/.out
**/.out


*/tempfile
**/.tempfile

# que ignore todos los .tempfile
.tempfile
*/.tempfile
**/.tempfile

# que ignore todos los .tempfile
.tempfile
*/.tempfile
**/.tempfile